@font-face {
  font-family: 'Qanelas-Black';
  src: url("../fonts/Qanelas-Black.otf"); }
@font-face {
  font-family: 'Qanelas-BlackItalic';
  src: url("../fonts/Qanelas-BlackItalic.otf"); }
@font-face {
  font-family: 'Qanelas-Bold';
  src: url("../fonts/Qanelas-Bold.otf"); }
@font-face {
  font-family: 'Qanelas-BoldItalic';
  src: url("../fonts/Qanelas-BoldItalic.otf"); }
@font-face {
  font-family: 'Qanelas-ExtraBold';
  src: url("../fonts/Qanelas-ExtraBold.otf"); }
@font-face {
  font-family: 'Qanelas-ExtraBoldItalic';
  src: url("../fonts/Qanelas-ExtraBoldItalic.otf"); }
@font-face {
  font-family: 'Qanelas-Heavy';
  src: url("../fonts/Qanelas-Heavy.otf"); }
@font-face {
  font-family: 'Qanelas-HeavyItalic';
  src: url("../fonts/Qanelas-HeavyItalic.otf"); }
@font-face {
  font-family: 'Qanelas-Light';
  src: url("../fonts/Qanelas-Light.otf"); }
@font-face {
  font-family: 'Qanelas-LightItalic';
  src: url("../fonts/Qanelas-LightItalic.otf"); }
@font-face {
  font-family: 'Qanelas-Medium';
  src: url("../fonts/Qanelas-Medium.otf"); }
@font-face {
  font-family: 'Qanelas-MediumItalic';
  src: url("../fonts/Qanelas-MediumItalic.otf"); }
@font-face {
  font-family: 'Qanelas-Regular';
  src: url("../fonts/Qanelas-Regular.otf"); }
@font-face {
  font-family: 'Qanelas-RegularItalic';
  src: url("../fonts/Qanelas-RegularItalic.otf"); }
@font-face {
  font-family: 'Qanelas-SemiBold';
  src: url("../fonts/Qanelas-SemiBold.otf"); }
@font-face {
  font-family: 'Qanelas-SemiBoldItalic';
  src: url("../fonts/Qanelas-SemiBoldItalic.otf"); }
@font-face {
  font-family: 'Qanelas-Thin';
  src: url("../fonts/Qanelas-Thin.otf"); }
@font-face {
  font-family: 'Qanelas-ThinItalic';
  src: url("../fonts/Qanelas-ThinItalic.otf"); }
@font-face {
  font-family: 'Qanelas-UltraLight';
  src: url("../fonts/Qanelas-UltraLight.otf"); }
@font-face {
  font-family: 'Qanelas-UltraLightItalic';
  src: url("../fonts/Qanelas-UltraLightItalic.otf"); }
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

figure {
  margin: 0; }

.popup-menu * {
  user-select: none; }

.home-header {
  width: 100%;
  background: #173046;
  height: 85px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11; }

.header-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto; }

.header-social {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header-social-list {
  display: flex;
  list-style-type: none;
  margin-right: 80px;
  align-items: center; }

.header-social-list--subpage {
  margin-right: 200px; }

.page-icon {
  position: fixed;
  top: 0;
  right: 15%;
  height: 85px;
  display: flex;
  align-items: center;
  background: #118489;
  padding: 0 120px 0 10px;
  user-select: none; }

@media screen and (max-width: 1600px) {
  .header-container {
    width: 85%; }

  .page-icon {
    right: 10%;
    padding: 0 80px 0 10px; } }
@media screen and (max-width: 1024px) {
  .page-icon {
    position: fixed;
    top: 0;
    right: 10%;
    height: 85px;
    display: flex;
    align-items: center;
    background: #118489;
    padding: 0 100px 0 10px; } }
@media screen and (max-width: 768px) {
  .header-container {
    width: 95%; }

  .header-social-list {
    display: none; }

  .header-social-list .social-icon--appear {
    display: block; } }
@media screen and (max-width: 425px) {
  .page-icon {
    position: fixed;
    top: 0;
    right: 10%;
    height: 85px;
    display: flex;
    align-items: center;
    background: #118489;
    padding: 0 40px 0 5px; }
    .page-icon img {
      width: 60%; } }
.popup-menu.active {
  background: #15A8AF;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: popupMenu 0.5s forwards;
  opacity: 0;
  z-index: 10;
  height: 0;
  width: 0;
  will-change: transform, opacity; }

.popup-menu {
  display: none; }

@keyframes popupMenu {
  to {
    opacity: 0.95;
    width: 100vw;
    height: 100vh; } }
.popup-menu-content {
  display: flex; }

.popup-menu-content__main-list {
  list-style-type: none; }

@media screen and (max-width: 768px) {
  .popup-menu-content {
    display: flex;
    flex-direction: column; } }
.popup-menu-content__main-list {
  position: relative; }
  .popup-menu-content__main-list:before {
    content: '';
    position: absolute;
    background: #118489;
    width: 2px;
    height: 96%;
    top: 2%;
    right: 0; }

@media screen and (max-width: 768px) {
  .popup-menu-content__main-list {
    margin-top: 85px; }
    .popup-menu-content__main-list:before {
      display: none; } }
.popup-menu-content__offer-list {
  list-style-type: none;
  margin-left: 40px; }

@media screen and (max-width: 768px) {
  .popup-menu-content__offer-list {
    list-style-type: none;
    margin: 1rem 0 0; } }
.main-list__item a {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 40px;
  width: 400px;
  transition: all 0.3s;
  position: relative; }
  .main-list__item a img {
    width: 15%;
    margin-right: 20px;
    transition: all 0.3s; }
  .main-list__item a:hover {
    background: #118489; }
    .main-list__item a:hover img {
      transform: translate(10px, 0); }
    .main-list__item a:hover .main-list__item_text h1,
    .main-list__item a:hover .main-list__item_text p {
      color: white;
      transform: translate(10px, 0); }
    .main-list__item a:hover:before {
      width: 50%; }
  .main-list__item a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background: #E7E2DE;
    width: 40%;
    transition: 0.3s width;
    will-change: width; }

@media screen and (max-width: 768px) {
  .main-list__item a {
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 0;
    width: 400px;
    transition: all 0.3s;
    position: relative; }
    .main-list__item a img {
      width: 15%;
      margin-right: 20px;
      transition: all 0.3s; }
    .main-list__item a:hover {
      background: #118489; }
      .main-list__item a:hover img {
        transform: translate(10px, 0); }
      .main-list__item a:hover .main-list__item_text h1,
      .main-list__item a:hover .main-list__item_text p {
        color: white;
        transform: translate(10px, 0); }
      .main-list__item a:hover:before {
        width: 50%; } }
@media screen and (max-width: 425px) {
  .main-list__item a {
    width: 300px; } }
.main-list__item_text h1 {
  line-height: 0;
  font-size: 42px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Qanelas-bold';
  transition: all 0.3s; }
.main-list__item_text p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Qanelas-medium';
  transition: all 0.3s; }

@media screen and (max-width: 425px) {
  .main-list__item_text h1 {
    font-size: 28px; }
  .main-list__item_text p {
    font-size: 14px; } }
.offer-list__item {
  font-family: 'Qanelas-medium';
  font-size: 16px;
  margin-bottom: 15px;
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.7); }
  .offer-list__item:hover {
    color: #FFFFFF; }
  .offer-list__item a {
    text-transform: uppercase; }
    .offer-list__item a span {
      color: #FFFFFF;
      font-size: 22px; }

@media screen and (max-width: 768px) {
  .offer-list__item {
    margin-bottom: 5px; } }
.banner-slider {
  overflow: hidden; }

.home-banner {
  width: 100%;
  background: url("../imgs/home__banner_background.png") no-repeat 50% 5%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0; }

@media screen and (max-width: 1024px) {
  .home-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/home__banner_background.png") no-repeat 80% 5%; } }
.home-banner__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20rem 0 14rem;
  width: 70%;
  user-select: none;
  margin: 0 auto; }
  .home-banner__content h1 {
    font-family: 'Qanelas-Black';
    text-transform: uppercase;
    font-size: 4.8rem;
    color: #15A8AF;
    line-height: 0; }
  .home-banner__content p {
    font-family: 'Qanelas-regular';
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.4; }

@media screen and (max-width: 1600px) {
  .home-banner__content {
    width: 85%; } }
@media screen and (max-width: 1024px) {
  .home-banner__content {
    align-items: center;
    text-align: center;
    padding: 16rem 0 10rem;
    width: 100%; }
    .home-banner__content h1 {
      line-height: 1; } }
.advanced-manufacturing {
  width: 100%;
  background: url("../imgs/wov/wov.png"); }

.advanced-manufacturing__container {
  max-width: 1920px;
  width: 70%;
  margin: 0 auto;
  position: relative;
  transform: translate(0, -60px);
  z-index: 0;
  overflow: hidden;
  border-radius: 5px; }

@media screen and (max-width: 1600px) {
  .advanced-manufacturing__container {
    width: 85%; } }
@media screen and (max-width: 1024px) {
  .advanced-manufacturing__container {
    width: 95%; } }
@media screen and (max-width: 768px) {
  .advanced-manufacturing__container {
    overflow: visible; } }
.advanced-manufacturing__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #F5F0EC; }
  .advanced-manufacturing__content h1 {
    background: #15A8AF;
    color: #173046;
    width: 100%;
    padding: 3.4rem 2.2rem;
    margin: 0;
    line-height: 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Qanelas-black'; }
  .advanced-manufacturing__content h2 {
    padding: 3rem 2.2rem;
    font-size: 1.4rem;
    line-height: 0;
    color: #173046;
    font-family: 'Qanelas-semibold'; }
  .advanced-manufacturing__content p {
    width: 65%;
    padding: 0 2.2rem;
    font-size: 1.2rem;
    font-family: 'Qanelas-light';
    line-height: 1.6; }

@media screen and (max-width: 1024px) {
  .advanced-manufacturing__content {
    align-items: center; }
    .advanced-manufacturing__content h1 {
      text-align: center;
      line-height: 1;
      padding: 2.4rem 1.2rem; }
    .advanced-manufacturing__content h2 {
      padding: 2rem 0;
      font-size: 1.4rem;
      line-height: 1;
      text-align: center; }
    .advanced-manufacturing__content p {
      width: 95%;
      text-align: center; } }
@media screen and (max-width: 768px) {
  .advanced-manufacturing__content {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .advanced-manufacturing__content h1 {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }

  .advanced-manufacturing__content p {
    width: 100%; } }
@media screen and (max-width: 320px) {
  .advanced-manufacturing__content h1 {
    font-size: 8vw; } }
.advanced-manufacturing__movie {
  border-top-right-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30rem;
  background: #E7E2DE;
  transform: skew(-19deg);
  transform-origin: 0 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around; }
  .advanced-manufacturing__movie h2 {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #173046;
    font-family: 'Qanelas-semibold'; }
    .advanced-manufacturing__movie h2 img {
      transform: translate(10%, 45%); }
  .advanced-manufacturing__movie > * {
    transform: skew(19deg);
    margin-left: 3rem; }

.movie-player {
  position: relative;
  margin-left: -65%;
  user-select: none; }
  .movie-player img {
    width: 100%; }
  .movie-player i {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(0, -50%);
    font-size: 6rem;
    color: #FFFFFF; }

@media screen and (max-width: 1440px) {
  .advanced-manufacturing__movie {
    width: 28rem; } }
@media screen and (max-width: 1200px) {
  .advanced-manufacturing__movie {
    width: 25rem; }
    .advanced-manufacturing__movie h2 {
      transform: translate(-20px, 0) skew(19deg); } }
@media screen and (max-width: 1024px) {
  .advanced-manufacturing__movie {
    padding: 2rem 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: static;
    align-items: center;
    transform: skew(0deg);
    width: 100%; }
    .advanced-manufacturing__movie h2 {
      transform: skew(0deg);
      padding-bottom: 2rem; }
    .advanced-manufacturing__movie > * {
      transform: skew(0deg);
      margin-left: 0; }

  .movie-player {
    margin-bottom: 1.8rem;
    width: 80%; }
    .movie-player i {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%); } }
.manufacture-variations {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding: 2rem 2.2rem;
  width: 65%; }

.manufacture-variations__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  padding: 1rem 0; }
  .manufacture-variations__item img {
    width: 60%;
    user-select: none; }
  .manufacture-variations__item figcaption {
    margin-top: 1rem;
    word-wrap: nowrap;
    font-family: 'Qanelas-semibold';
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    color: #173046; }

@media screen and (max-width: 1440px) {
  .manufacture-variations__item {
    margin-right: 2%; }
    .manufacture-variations__item img {
      width: 50%; } }
@media screen and (max-width: 1200px) {
  .manufacture-variations {
    width: 60%; }

  .manufacture-variations__item {
    margin-right: 1%; }
    .manufacture-variations__item img {
      width: 60%; }
    .manufacture-variations__item figcaption {
      font-size: 0.8rem; } }
@media screen and (max-width: 1024px) {
  .manufacture-variations {
    justify-content: space-around;
    width: 100%; }

  .manufacture-variations__item {
    margin: 0; }
    .manufacture-variations__item img {
      width: 50%; } }
@media screen and (max-width: 768px) {
  .manufacture-variations {
    margin-top: 1rem;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    background: none;
    padding: 0;
    width: 105%; }

  .manufacture-variations__item {
    background: #FFFFFF;
    margin: 0 3rem;
    width: 260px;
    height: 250px;
    border-radius: calc(5px*2);
    border: 1px solid #E7E2DE;
    outline: 0; }
    .manufacture-variations__item img {
      width: 50%;
      margin: 1rem auto 0; }
    .manufacture-variations__item figcaption {
      font-size: 0.8rem; } }
@media screen and (max-width: 425px) {
  .manufacture-variations {
    margin-top: 0;
    height: 250px; }

  .manufacture-variations__item {
    margin: 0 1rem;
    width: 200px;
    height: 200px; } }
.imgs-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  user-select: none; }
  .imgs-container > * {
    width: calc(100%/2); }

@media screen and (max-width: 1024px) {
  .imgs-container > * {
    width: calc(100%/1); } }
.fig-container {
  position: relative;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  user-select: none; }
  .fig-container > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
  .fig-container:nth-child(even) > img {
    left: -3%; }

@media screen and (max-width: 1600px) {
  .fig-container:nth-child(even) > img {
    left: -3%; } }
@media screen and (max-width: 1440px) {
  .fig-container:nth-child(even) > img {
    left: -5%; } }
@media screen and (max-width: 1200px) {
  .fig-container:nth-child(even) > img {
    left: -15%; } }
@media screen and (max-width: 1024px) {
  .fig-container {
    padding: 4rem 0; }
    .fig-container > img {
      min-width: 1024px; }
    .fig-container:nth-child(even) > img {
      min-width: 125%;
      left: -25%; } }
@media screen and (max-width: 768px) {
  .fig-container > img {
    min-width: 768px; }
  .fig-container:nth-child(even) > img {
    min-width: 135%;
    left: -35%; } }
@media screen and (max-width: 320px) {
  .fig-container > img {
    min-width: 320px; }
  .fig-container:nth-child(even) > img {
    min-width: 155%;
    left: -55%; } }
.hex-big-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hex-big-icon img {
    width: 30rem; }
  .hex-big-icon figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -66%);
    text-align: center;
    width: 30rem; }
    .hex-big-icon figcaption h1 {
      font-family: 'Qanelas-black';
      text-transform: uppercase;
      font-size: 6rem;
      line-height: 0.6; }
    .hex-big-icon figcaption h2 {
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #F5F0EC;
      font-family: 'Qanelas-medium'; }

.icon-be h1 {
  color: #15A8AF; }

.icon-do h1 {
  color: #E8C423; }

.icon-xplr h1 {
  color: #B72F6F; }

.icon-plan h1 {
  color: #173046; }

@media screen and (max-width: 1440px) {
  .hex-big-icon img {
    width: 26rem; }
  .hex-big-icon figcaption {
    width: 26rem; }
    .hex-big-icon figcaption h1 {
      font-size: 5rem;
      line-height: 0.6; }
    .hex-big-icon figcaption h2 {
      font-size: 1rem; } }
@media screen and (max-width: 425px) {
  .hex-big-icon img {
    width: 18rem; }
  .hex-big-icon figcaption {
    width: 18rem; }
    .hex-big-icon figcaption h1 {
      font-size: 4rem;
      line-height: 0.4; }
    .hex-big-icon figcaption h2 {
      font-size: 0.8rem; } }
.top-footer {
  background: linear-gradient(90deg, #F5F0EC 50%, #E7E2DE 50%);
  padding: 4rem 0; }

.top-footer__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center; }
  .top-footer__container > * {
    width: calc(100%/2);
    padding: 4rem 2rem 4rem 4rem; }

@media screen and (max-width: 1024px) {
  .top-footer {
    background: linear-gradient(#F5F0EC 50%, #E7E2DE 50%);
    padding: 0; }

  .top-footer__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .top-footer__container > * {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      padding: 2rem;
      align-items: center; } }
.funded-by__container {
  display: flex;
  align-items: flex-end;
  flex-direction: column; }
  .funded-by__container h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #173046; }

.fundators-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: baseline;
  justify-content: flex-end; }
  .fundators-list li {
    margin-right: 2rem;
    user-select: none; }

@media screen and (max-width: 1200px) {
  .fundators-list li {
    margin-right: 0; } }
@media screen and (max-width: 1024px) {
  .funded-by__container {
    align-items: center; } }
@media screen and (max-width: 768px) {
  .fundators-list li img {
    width: 90%; } }
@media screen and (max-width: 425px) {
  .funded-by__container {
    background: #F5F0EC; }

  .fundators-list {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .fundators-list li img {
      width: 100%; } }
.be-updated__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }
  .be-updated__container h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #173046; }
  .be-updated__container p {
    font-size: 1rem;
    font-family: 'Qanelas-regular';
    color: #173046; }

.bottom-footer {
  width: 100%;
  background: #173046;
  padding: 7rem 0; }

@media screen and (max-width: 425px) {
  .bottom-footer {
    padding: 3rem 0; } }
.footer-social-icons {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }

.bottom-footer__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Qanelas-regular'; }
  .bottom-footer__container .footer-navlist {
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Qanelas-semibold'; }
    .bottom-footer__container .footer-navlist li {
      margin: 0 1rem; }
  .bottom-footer__container .copyright {
    color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 1.4rem;
    font-size: 1rem; }
    .bottom-footer__container .copyright br {
      display: none; }
  .bottom-footer__container .policy-list {
    list-style-type: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 1.4rem;
    display: flex; }
    .bottom-footer__container .policy-list li {
      display: flex;
      align-items: center; }
      .bottom-footer__container .policy-list li:nth-child(n+2):before {
        content: '\f111';
        font-family: 'fontawesome';
        font-size: 0.4rem;
        line-height: 0;
        margin: 0 1rem; }

@media screen and (max-width: 425px) {
  .bottom-footer__container .footer-navlist {
    flex-direction: column; }
    .bottom-footer__container .footer-navlist li {
      margin: 0.6rem 1rem; }
  .bottom-footer__container .copyright br {
    display: block; } }
.about-us {
  position: relative;
  background: #118489;
  padding: 10rem 0;
  max-width: 1920px;
  margin: 0 auto; }

.about-us-container {
  width: 85%;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.about-us-content {
  width: 60%; }
  .about-us-content h1 {
    font-size: 3.4rem;
    color: #E8C423;
    font-family: 'Qanelas-black';
    line-height: 1; }
  .about-us-content p {
    font-size: 1.4rem;
    line-height: 1.6; }
  .about-us-content p:nth-of-type(1) {
    color: #FFFFFF;
    font-family: 'Qanelas-medium';
    margin-bottom: 2rem; }
  .about-us-content p:nth-of-type(2) {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Qanelas-regular'; }

.phone-image {
  margin-top: 2rem;
  user-select: none; }

@media screen and (max-width: 1600px) {
  .about-us-container {
    width: calc(100% - 15%/2); } }
@media screen and (max-width: 1440px) {
  .phone-image {
    width: 40%; } }
@media screen and (max-width: 1024px) {
  .about-us {
    position: relative;
    background: #118489;
    padding: 8rem 0 4rem; }

  .about-us-container {
    width: 85%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse; }

  .phone-image {
    width: 60%; }

  .about-us-content {
    width: 100%;
    transform: translate(0, -2rem);
    text-align: center; } }
.info-for-parents {
  width: 100%;
  background: url("../imgs/wov/wov.png"); }

.info-for-parents__container {
  max-width: 1920px;
  width: 70%;
  margin: 0 auto;
  position: relative;
  transform: translate(0, -60px);
  overflow: hidden;
  border-radius: 5px; }
  .info-for-parents__container h1 {
    display: flex;
    align-items: center;
    background: #15A8AF;
    color: #173046;
    width: 100%;
    padding: 1.6rem 2.2rem;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Qanelas-black'; }
    .info-for-parents__container h1 img {
      width: 70px;
      margin-right: 30px; }

.info-for-parents__content {
  display: block;
  background: #F5F0EC;
  color: #173046;
  padding: 0 2.2rem 2rem; }
  .info-for-parents__content > p {
    width: 100%;
    padding: 3rem 0;
    font-size: 1.4rem;
    font-family: 'Qanelas-light';
    line-height: 1.6; }

.passages-variations {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.passages-variation__column {
  position: relative;
  width: 43%;
  color: #173046; }
  .passages-variation__column h2 {
    font-family: 'Qanelas-Extrabold';
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #118489;
    margin-bottom: 2rem; }
  .passages-variation__column p {
    font-family: 'Qanelas-light';
    font-size: 1.2rem;
    padding-bottom: 2rem;
    line-height: 1.2; }
  .passages-variation__column:nth-of-type(2):before {
    content: '';
    background: radial-gradient(230px at -160px, #dcd5cf, rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    bottom: 0;
    left: -16%;
    right: 100%;
    border-left: 2px solid #E7E2DE; }

.passages-variation__list {
  list-style-type: none;
  font-family: 'Qanelas-medium';
  color: #173046;
  font-size: 1.2rem;
  margin-left: 2.4rem; }
  .passages-variation__list li {
    margin-bottom: 1.4rem;
    position: relative; }
    .passages-variation__list li:before {
      content: '';
      position: absolute;
      top: 0;
      left: -40px;
      width: 30px;
      height: 30px;
      background: url("../imgs/About_us/tick--yellow.png") no-repeat;
      background-size: cover;
      transform: translate(0, -30%); }

@media screen and (max-width: 1600px) {
  .info-for-parents__container {
    width: 85%; } }
@media screen and (max-width: 1024px) {
  .info-for-parents__container {
    width: 95%; }

  .passages-variations {
    flex-direction: column;
    align-items: center; }

  .passages-variation__column {
    width: 80%; }
    .passages-variation__column:nth-of-type(1) {
      text-align: center; }

  .passages-variation__column:nth-of-type(1) {
    display: none; }
  .passages-variation__column:nth-of-type(2) {
    width: 100%; }
    .passages-variation__column:nth-of-type(2):before {
      display: none; } }
@media screen and (max-width: 768px) {
  .info-for-parents__container {
    overflow: visible; }

  h1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

  .info-for-parents__content {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; } }
@media screen and (max-width: 425px) {
  .info-for-parents__container h1 {
    text-align: center; }
    .info-for-parents__container h1 img {
      display: none; } }
@media screen and (max-width: 320px) {
  .info-for-parents__content h1 {
    font-size: 8vw; } }
.donate-get-involved {
  max-width: 1920px;
  margin: 0 auto; }

.donate__container {
  width: 70%;
  padding: 2rem 2.2rem;
  margin: 0 auto; }
  .donate__container h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Qanelas-black';
    color: #173046;
    text-transform: uppercase; }
    .donate__container h1 img {
      margin-right: 1rem;
      width: 60px; }

.donate__content {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.donate__column {
  width: 45%;
  color: #173046; }
  .donate__column h2 {
    font-family: 'Qanelas-bold';
    color: #118489;
    font-size: 1.6rem;
    padding: 1rem 0;
    text-transform: uppercase; }
  .donate__column p {
    font-family: 'Qanelas-light';
    font-size: 1.4rem;
    line-height: 1.6; }

.donate__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 40px;
  padding-top: 2rem; }
  .donate__list li {
    width: calc(100%/3);
    position: relative;
    padding: 0.6rem 0;
    font-size: 1.2rem;
    color: #173046;
    font-family: 'Qanelas-medium'; }
    .donate__list li:before {
      content: '';
      background: url("../imgs/About_us/tick--blue.png") no-repeat;
      background-size: cover;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 105%;
      bottom: 30%; }

@media screen and (max-width: 1600px) {
  .donate__container {
    width: 85%;
    margin: 0 auto;
    padding: 2rem 2.2rem; } }
@media screen and (max-width: 1440px) {
  .donate__list li {
    width: calc(100%/2); } }
@media screen and (max-width: 1024px) {
  .donate__container {
    width: 95%; }

  .donate__content {
    flex-direction: column; }

  .donate__column {
    width: 100%; }
    .donate__column:nth-of-type(1) {
      padding-bottom: 3rem; }

  .donate__list li {
    width: calc(100%/3); } }
@media screen and (max-width: 768px) {
  .donate__list li {
    width: calc(100%/2); } }
@media screen and (max-width: 425px) {
  .donate__list li {
    width: calc(100%/1); } }
.contact__container {
  max-width: 1920px;
  background: linear-gradient(90deg, #118489 50%, #15A8AF 50%); }

.contact__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start; }

.adrr-details,
.phone-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 4rem 0; }
  .adrr-details img,
  .phone-details img {
    width: 120px;
    margin-right: 30px; }
  .adrr-details p,
  .phone-details p {
    font-size: 1.6rem;
    font-family: 'Qanelas-medium';
    color: #FFFFFF;
    padding: 0.4rem 0; }
    .adrr-details p span,
    .phone-details p span {
      margin-right: 20px;
      color: rgba(255, 255, 255, 0.7); }

@media screen and (max-width: 1600px) {
  .contact__content {
    width: 85%; } }
@media screen and (max-width: 1440px) {
  .contact__content {
    width: 100%; }

  .adrr-details img,
  .phone-details img {
    width: 100px;
    margin-right: 15px; } }
@media screen and (max-width: 1024px) {
  .contact__container {
    background: linear-gradient(#118489 50%, #15A8AF 50%); }

  .contact__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .adrr-details,
  .phone-details {
    width: 100%; }
    .adrr-details img,
    .phone-details img {
      width: 120px;
      margin-right: 50px; } }
@media screen and (max-width: 768px) {
  .adrr-details,
  .phone-details {
    width: 100%;
    flex-direction: column; }
    .adrr-details img,
    .phone-details img {
      width: 120px;
      margin-right: 0;
      margin-bottom: 30px; }
    .adrr-details p,
    .phone-details p {
      text-align: center; } }
@media screen and (max-width: 375px) {
  .adrr-details,
  .phone-details {
    width: 100%;
    flex-direction: column; }
    .adrr-details img,
    .phone-details img {
      width: 90px; }
    .adrr-details p,
    .phone-details p {
      display: flex;
      flex-direction: column;
      font-size: 1.4rem; }
      .adrr-details p span,
      .phone-details p span {
        margin: 0; } }
.fits-for-you {
  display: block;
  padding-top: 8rem;
  margin: 0 auto;
  background: #F5F0EC; }
  .fits-for-you .fit-text {
    max-width: 1920px;
    width: 70%;
    margin: 0 auto;
    padding: 2rem 2.2rem;
    position: relative; }
    .fits-for-you .fit-text h1 {
      font-size: 2rem;
      text-transform: uppercase;
      color: #173046;
      font-family: 'Qanelas-black';
      text-align: center; }
    .fits-for-you .fit-text p {
      font-size: 1.4rem;
      font-family: 'Qanelas-regular';
      color: #173046;
      line-height: 1.6;
      text-align: center; }
    .fits-for-you .fit-text:after {
      position: absolute;
      content: '';
      width: 60px;
      height: 60px;
      background: #F5F0EC;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%) rotateX(45deg) rotate(45deg); }

.fitin-blocks {
  background: #173046; }

.cards-container {
  width: 70%;
  margin: 0 auto;
  max-width: 1920px;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.fit-card {
  width: 270px;
  min-width: 270px;
  height: 335px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  border-radius: 5px;
  overflow: hidden;
  margin: 2rem 0; }
  .fit-card .card-bg {
    height: 60%; }
    .fit-card .card-bg img {
      width: 100%;
      height: 100%; }
  .fit-card .card-text {
    width: 100%;
    height: 40%;
    background: #F5F0EC;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Qanelas-regular';
    color: #173046;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; }
    .fit-card .card-text .card-bg__segment {
      position: absolute;
      width: 90px;
      height: 90px;
      top: 0;
      left: 50%;
      transform: translate(-48%, -55%) rotateX(55deg) rotate(45deg);
      border-radius: 10px; }
  .fit-card .fit-hex-icon {
    background: url("../imgs/XPLR/fit-hex-icon.png") 50% 50% no-repeat;
    background-size: contain;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .fit-card .fit-hex-icon img {
      margin-bottom: 1.8rem;
      width: 70px;
      height: 70px; }
    .fit-card .fit-hex-icon h2 {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-family: 'Qanelas-bold';
      text-align: center; }

.inv-name {
  color: #34A092; }

.solv-name {
  color: #F2AB35; }

.maker-name {
  color: #2A96B6; }

.expl-name {
  color: #D13C3F; }

.lead-name {
  color: #D75623; }

.nurt-name {
  color: #6571D8; }

.promo-name {
  color: #B4339A; }

.analyzer-name {
  color: #9DB630; }

.sg1 {
  background: #34A092; }

.sg2 {
  background: #F2AB35; }

.sg3 {
  background: #2A96B6; }

.sg4 {
  background: #D13C3F; }

.sg5 {
  background: #D75623; }

.sg6 {
  background: #6571D8; }

.sg7 {
  background: #B4339A; }

.sg8 {
  background: #9DB630; }

@media screen and (max-width: 1600px) {
  .fits-for-you .fit-text {
    width: 85%; }
  .fits-for-you .cards-container {
    width: 84%; } }
@media screen and (max-width: 768px) {
  .fits-for-you .fit-text {
    width: 95%; }
  .fits-for-you .cards-container {
    width: 95%;
    justify-content: space-around; } }
.subscribe__form {
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  width: 500px;
  margin: 1rem 0; }
  .subscribe__form label {
    color: #E7E2DE;
    padding: 0 1rem;
    font-size: 1.4rem;
    user-select: none; }
  .subscribe__form input {
    outline: 0;
    background: #FFFFFF;
    border: 0;
    padding: 1rem 0;
    width: 100%;
    font-size: 1rem;
    color: #173046;
    font-family: 'Qanelas-regular'; }
  .subscribe__form button {
    margin: 0; }

@media screen and (max-width: 1440px) {
  .subscribe__form {
    width: 400px; } }
@media screen and (max-width: 425px) {
  .subscribe__form {
    display: block;
    width: 100%;
    background: none; }
    .subscribe__form label {
      padding: 0.765rem;
      background: #FFFFFF;
      float: left;
      width: 50px;
      border-right: 1px solid #E7E2DE;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .subscribe__form input {
      width: calc(100% - 50px);
      margin-bottom: 1rem;
      padding: 1rem;
      float: right;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; } }
.mob-button {
  font-size: 42px;
  color: #173046;
  background: #15A8AF;
  position: fixed;
  right: 0;
  top: 0;
  padding: 0 16% 0 15px;
  display: flex;
  align-items: center;
  line-height: 0;
  height: 85px; }
  .mob-button i {
    cursor: pointer; }

.button-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 35px;
  height: 35px; }

.button-icon span {
  width: 100%;
  height: 5px;
  background: #173046;
  border-radius: 15px;
  transition: 0.3s;
  /*   box-shadow:1px 2px 1px rgba(0,0,0,0.2) */ }

.button-icon {
  position: relative; }

.button-icon.active span:nth-child(2) {
  opacity: 0; }

.button-icon.active span:nth-child(1) {
  transform: translateY(2px) rotate(45deg);
  transform-origin: 0% 100%; }

.button-icon.active span:nth-child(3) {
  transform: translateY(-2px) rotate(-45deg);
  transform-origin: 0% 0%; }

@media screen and (max-width: 1600px) {
  .mob-button {
    padding: 0 9% 0 15px; } }
@media screen and (max-width: 768px) {
  .mob-button {
    padding: 0 20px 0 20px; } }
.mob-button--arrow:before {
  content: '';
  position: absolute;
  width: 40px;
  top: 0;
  right: 100%;
  border-top: calc(85px/2) solid transparent;
  border-bottom: calc(85px/2) solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid #15A8AF; }

.social-icon {
  margin: 0 5px;
  width: 40px;
  position: relative;
  user-select: none; }
  .social-icon img {
    width: 100%; }
  .social-icon i {
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: 18px;
    line-height: 0;
    color: #173046; }

.social-icon--centered i {
  left: 35%; }

.primary-button {
  background: #E8C423;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Qanelas-bold';
  color: #173046;
  padding: 1rem;
  border-radius: 2px;
  user-select: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 2rem 0; }
  .primary-button i {
    font-weight: bold;
    margin-left: 1rem;
    font-size: 1.2rem; }

.primary-button--cut {
  position: relative;
  padding-left: 3rem;
  transform: translate(3rem, -1rem) skew(19deg);
  margin: 0; }
  .primary-button--cut:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    border-radius: 2px;
    background: #E8C423;
    transform: skew(-19deg);
    transform-origin: 0 0; }

@media screen and (max-width: 1024px) {
  .primary-button--cut {
    padding: 1rem;
    transform: none; }
    .primary-button--cut:before {
      display: none; } }
.primary-button--stretch {
  width: 100%; }

/* Dots */
.slick-dotted.slick-slider {
  margin: 0; }

.slick-dots {
  position: absolute;
  bottom: 80px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'fontawesome';
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '\f111';
  text-align: center;
  opacity: .25;
  color: #E8C423;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #E8C423; }

/*# sourceMappingURL=styles.css.map */
