$sea:#15A8AF;
$yellow:#E8C423;
$dark-blue:#173046;
$rose:#B72F6F;
$light-gray:#F5F0EC;
$gray:#E7E2DE;
$dark-sea:#118489;
$pine-green:#006C77;
$white:#FFFFFF;
$half-white:rgba(255,255,255,0.7);
$almost-white:rgba(255,255,255,0.3);
$cloudy:#ADA7A3;
$cadet-blue:#9EB0C0;
$rhino:#273E53;

$medium-red-violet:#B4339A;
$keppel:#34A092;
$fuel-yellow:#F2AB35;
$eastern-blue:#2A96B6;
$persian-red:#D13C3F;
$piper:#D75623;
$orchid:#6571D8;
$atlantis:#9DB630;
