@font-face {
    font-family: 'Qanelas-Black';
    src: url('../fonts/Qanelas-Black.otf');
}
@font-face {
    font-family: 'Qanelas-BlackItalic';
    src: url('../fonts/Qanelas-BlackItalic.otf');
}
@font-face {
    font-family: 'Qanelas-Bold';
    src: url('../fonts/Qanelas-Bold.otf');
}
@font-face {
    font-family: 'Qanelas-BoldItalic';
    src: url('../fonts/Qanelas-BoldItalic.otf');
}
@font-face {
    font-family: 'Qanelas-ExtraBold';
    src: url('../fonts/Qanelas-ExtraBold.otf');
}
@font-face {
    font-family: 'Qanelas-ExtraBoldItalic';
    src: url('../fonts/Qanelas-ExtraBoldItalic.otf');
}
@font-face {
    font-family: 'Qanelas-Heavy';
    src: url('../fonts/Qanelas-Heavy.otf');
}
@font-face {
    font-family: 'Qanelas-HeavyItalic';
    src: url('../fonts/Qanelas-HeavyItalic.otf');
}
@font-face {
    font-family: 'Qanelas-Light';
    src: url('../fonts/Qanelas-Light.otf');
}
@font-face {
    font-family: 'Qanelas-LightItalic';
    src: url('../fonts/Qanelas-LightItalic.otf');
}
@font-face {
    font-family: 'Qanelas-Medium';
    src: url('../fonts/Qanelas-Medium.otf');
}
@font-face {
    font-family: 'Qanelas-MediumItalic';
    src: url('../fonts/Qanelas-MediumItalic.otf');
}
@font-face {
    font-family: 'Qanelas-Regular';
    src: url('../fonts/Qanelas-Regular.otf');
}
@font-face {
    font-family: 'Qanelas-RegularItalic';
    src: url('../fonts/Qanelas-RegularItalic.otf');
}
@font-face {
    font-family: 'Qanelas-SemiBold';
    src: url('../fonts/Qanelas-SemiBold.otf');
}
@font-face {
    font-family: 'Qanelas-SemiBoldItalic';
    src: url('../fonts/Qanelas-SemiBoldItalic.otf');
}
@font-face {
    font-family: 'Qanelas-Thin';
    src: url('../fonts/Qanelas-Thin.otf');
}
@font-face {
    font-family: 'Qanelas-ThinItalic';
    src: url('../fonts/Qanelas-ThinItalic.otf');
}
@font-face {
    font-family: 'Qanelas-UltraLight';
    src: url('../fonts/Qanelas-UltraLight.otf');
}
@font-face {
    font-family: 'Qanelas-UltraLightItalic';
    src: url('../fonts/Qanelas-UltraLightItalic.otf');
}
