.advanced-manufacturing__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $light-gray;
    h1 {
        background: $sea;
        color: $dark-blue;
        width: 100%;
        padding: 3.4rem 2.2rem;
        margin: 0;
        line-height: 0;
        text-transform: uppercase;
        font-size: 2rem;
        font-family: 'Qanelas-black';
    }

    h2 {
        padding: 3rem 2.2rem;
        font-size: 1.4rem;
        line-height: 0;
        color: $dark-blue;
        font-family: 'Qanelas-semibold';
    }

    p {
        width: 65%;
        padding: 0 2.2rem;
        font-size: 1.2rem;
        font-family: 'Qanelas-light';
        line-height: 1.6;
    }
}

@media screen and (max-width:1024px){
  .advanced-manufacturing__content {
      align-items:center;
      h1 {
          text-align:center;
          line-height:1;
          padding: 2.4rem 1.2rem;
      }

      h2 {
          padding: 2rem 0rem;
          font-size: 1.4rem;
          line-height:1;
          text-align:center;
      }
      p {
          width: 95%;
          text-align:center;
      }
  }
}

@media screen and (max-width:768px){
  .advanced-manufacturing__content {
      border-top-left-radius:$content-radius;
      border-top-right-radius:$content-radius;
      h1 {
          border-top-left-radius:$content-radius;
          border-top-right-radius:$content-radius;
      }
}
}
