.advanced-manufacturing__movie{
  border-top-right-radius:$content-radius;
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  width:40%;
  background:url('../imgs/homepage/cut_rectangle.png') no-repeat;
  background-size:cover;
}
