.advanced-manufacturing__container{
  max-width:1920px;
  width:70%;
  margin:0 auto;
  position:relative;
  transform:translate(0,-60px);
  z-index:0;
  overflow:hidden;
  border-radius:$content-radius;
}


@media screen and (max-width:1600px){
  .advanced-manufacturing__container{
    width:85%;
  }
}
@media screen and (max-width:1024px){
  .advanced-manufacturing__container{
    width:95%;
  }
}

@media screen and (max-width:768px){
  .advanced-manufacturing__container{
overflow:visible;
  }


}
