.manufacture-variations {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;;
    padding: 2rem 2.2rem;
    width: 100%
}

.manufacture-variations__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:5%;
    padding:1rem 0;

    img {
        width:60%;
        user-select: none;
    }

    figcaption {
        margin-top: 1rem;
        word-wrap: nowrap;
        font-family: 'Qanelas-semibold';
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.6;
        color: $dark-blue;
    }
}
@media screen and (max-width:1440px){
  .manufacture-variations__item {
      margin-right:2%;
      img {
          width:50%;
      }
    }

}
@media screen and (max-width:1200px){
  .manufacture-variations__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right:1%;

      img {
          width:60%;
      }

      figcaption{
          font-size: .8rem;
      }
  }

}
@media screen and (max-width:1024px){
  .manufacture-variations {
      justify-content: space-around;
}
  .manufacture-variations__item {
          margin:0;

      img {
          width:50%;
      }
  }

}
@media screen and (max-width:768px){
  .manufacture-variations {
      justify-content: space-around;
      width:90%;
}
  .manufacture-variations__item {
      margin:0;
      transform:scale(1);
      img {
          width:50%;
          margin:0 auto;
      }
  }
  // .manufacture-variations__item.slick-active {
  //     transform:scale(1.1);
  //     transition:all 1s linear;
  //     img {
  //         width:70%;
  //         margin:0 auto;
  //     }
  // }

}
