
.primary-button{
  background:$yellow;
  text-transform:uppercase;
  font-size:1rem;
  font-family:'Qanelas-bold';
  color:$dark-blue;
  padding:1rem;
  border-radius:$primary-radius;
  user-select:none;
  border:0;
  outline:0;
  cursor:pointer;
  margin:2rem 0;
  i{
    font-weight:bold;
    margin-left:1rem;
    font-size:1.2rem;
  }
}
.primary-button--cut{
  position:relative;
  padding-left:3rem;
  transform:translate(3rem,-1rem) skew(19deg);
  margin:0;;

  &:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:40px;
    border-radius:$primary-radius;
    background:$yellow;
    transform:skew(-19deg);
    transform-origin:0 0;
  }

}
@media screen and (max-width:1024px){
  .primary-button--cut{
    padding:1rem;
    transform:none;
    &:before{
    display:none;
    }
  }
}
