.funded-by__container{
  display:flex;
  align-items:flex-end;
  flex-direction:column;
  h1{
    font-size:2rem;
    text-transform:uppercase;
    color:$dark-blue;
  }
}
.fundators-list{
  list-style-type:none;
  display:flex;
  padding:0;
  margin:0;
  align-items:baseline;
  justify-content:flex-end;

  li{
    margin-right:2rem;
    user-select:none;
  }
}

@media screen and (max-width:1200px){
  .fundators-list{
    li{
      margin-right:0rem;;
    }
  }
}

@media screen and (max-width:1024px){
  .funded-by__container{
    align-items:center;
  }
}
