.popup-menu-content__main-list{
    position:relative;
  &:before{
    content:'';
    position:absolute;
    background:$dark-sea;
    width:2px;
    height:96%;
    top:2%;
    right:0;
  }
}

@media screen and (max-width:768px){
  .popup-menu-content__main-list{
    margin-top:$header-height;
    &:before{
    display:none;
    }
  }
}
